*
!.gitignore
!README.md
!flake.nix
!flake.lock
!starship.toml
!hosts/
!hosts/**
!applications/
!applications/**
!ghostty/
!ghostty/**
!hypr/
!hypr/**
!nvim/
!nvim/**
!qBittorrent/
!qBittorrent/catppuccin-mocha.qbtheme
!rofi/
!rofi/**
!scripts/
!scripts/**
!tmux/
!tmux/**
!wallpapers/
!wallpapers/**
!waybar/
!waybar/**
!zsh/
!zsh/**
!btop/
!btop/**
!bat/
!bat/**
!fzf/
!fzf/**
!yazi/
!yazi/**
!mpv/
!mpv/**
