@define-color thm_bg #1e1e2e;
@define-color thm_fg #cdd6f4;

/* Colors */
@define-color thm_rosewater #f5e0dc;
@define-color thm_flamingo #f2cdcd;
@define-color thm_rosewater #f5e0dc;
@define-color thm_pink #f5c2e7;
@define-color thm_mauve #cba6f7;
@define-color thm_red #f38ba8;
@define-color thm_maroon #eba0ac;
@define-color thm_peach #fab387;
@define-color thm_yellow #f9e2af;
@define-color thm_green #a6e3a1;
@define-color thm_teal #94e2d5;
@define-color thm_sky #89dceb;
@define-color thm_sapphire #74c7ec;
@define-color thm_blue #89b4fa;
@define-color thm_lavender #b4befe;

/* Surfaces and overlays */
@define-color thm_subtext_1 #a6adc8;
@define-color thm_subtext_0 #bac2de;
@define-color thm_overlay_2 #9399b2;
@define-color thm_overlay_1 #7f849c;
@define-color thm_overlay_0 #6c7086;
@define-color thm_surface_2 #585b70;
@define-color thm_surface_1 #45475a;
@define-color thm_surface_0 #313244;
@define-color thm_mantle #181825;
@define-color thm_crust #11111b;

* {
  font-family: Iosevka Term Nerd Font;
  font-size: 14px;
  border-radius: 0;
}


window#waybar {
  color: @thm_fg;
  background-color: @thm_crust;
}

#workspaces {
  border-radius: 0;
  background-color: @thm_bg;
}

#workspaces button {
  color: @thm_fg;
}
#workspaces button:hover {
  color: @thm_bg;
}
#workspaces button.active {
  color: @thm_maroon;
}
#workspaces button.active:hover {
  color: @thm_bg;
}


window#waybar.modules-right {
  color: @thm_sapphire;
}

box.horizontal.modules-left {}

box.horizontal.modules-center {}

box.horizontal.modules-right {}

#custom-logo {
  padding-left: 12px;
  padding-right: 18px;
  /*color: @thm_green;*/
  background-color: @thm_bg;
  border-radius: 0;
}


#base {
  background-color: @thm_bg;
  padding-left: 16px;
  padding-right: 16px;
}


#pulseaudio {
  /* padding-right: 16px; */
}

#battery {
  padding-right: 16px;
  color: @thm_fg;
}

#battery.charging,
#battery.full,
#battery.discharging {
  color: @thm_green;
}

#battery.critical:not(.charging) {
  color: @thm_flamingo;
}

#backlight {
  /*padding-right: 8px;*/
}

#connections {
  background-color: @thm_bg;
  padding-left: 16px;
  padding-right: 16px;
}

#network {
  /* padding-right: 16px; */
}

#pulseaudio#icon {
  color: @thm_flamingo;
}

#bluetooth {
  /*padding-right: 8px;*/
}

#calendar {
  background-color: @thm_bg;
  padding-left: 16px;
  padding-right: 16px;
}

#time {
  background-color: @thm_bg;
  padding-left: 16px;
  padding-right: 16px;
}
